#chatroom {
    /* background: white;
    position: absolute;
    width: 25%;
    height: 100%;
    font-family: helvetica;
    border: solid 1px gainsboro;
    right: 10px;
    align-items: center; */

    position: absolute;
    right: 10px;
    height: 90%;
    width: 25%;
    /* top: 85px; */
    
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usernameBox {
    position: relative;
    top: 0;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    width: 100%;
    height: 5%;
}

#messagesBox::-webkit-scrollbar {
    width: 10px;
}

#messagesBox::-webkit-scrollbar-track {
    background: white;
}

#messagesBox::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

#messagesBox {
    /* position: relative;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    top: 0;
    flex-direction: column-reverse; */
    width: 100%;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    overflow-y: scroll;
    position: relative;
    height: 90%;
}

#sendBox {
    position: absolute;
    bottom: 0;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    width: 100%;
}

#messages {
    /* position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

p {
    position: relative;
    border-radius: 20px;
    padding: 4px 15px;
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.sent p {
    position: relative;
    color: white;
    background: #E84F11;
    /* background: ; */
    /* align-items: flex-end; */
    margin-left: 25%;
    /* text-align: right; */
    /* align-items: flex-start; */
    /* display: inline-block; */
    /* border-radius: 30px;
    padding-right: 5px; */
    /* max-width: 65%; */
    float: right;
}

.received p {
    position: relative;
    color: black;
    background: #e5e5ea;
    /* align-items: flex-start; */
    margin-right: 25%;
    /* display: inline-block; */
    /* position: relative; */
    /* text-align: left; */
    /* align-items: flex-end; */
    /* border-radius: 30px; */
    /* max-width: 65%; */
    float: left;
}

