
#form {
    
}

#messages {
    overflow-y: auto;
}

#chatroom {

    background: white;
    position: absolute;
    bottom: 0;
    width: 25%;
    right: 0;
    
}


#send-button{
    width: 50px;
}

p {

    /* margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px; */
    /* margin-left: 50%; */
    color: white;
    text-align: right;
    background: blue;
  
}

.sent p {
color: white;
background: #0b93f6;
align-self: flex-end;
}
.received p {
background: #e5e5ea;
color: black;
}

