#sign-up-text{
    margin-bottom: 10px;
}

#departure{
    margin-bottom: 10px;
    margin-top: 10px;
}


#firstname{
    margin-bottom: 10px;
}

#lastname{
    margin-bottom: 10px;
}

#username{
    margin-bottom: 10px;
}
