.SimpleMapContainer {
    position: relative;
    overflow: hidden;
    padding-top: 47.5%;
}
  
.SimpleMapIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 0;
    /* padding-top: 2.9%; */
}